h1 {
    background-color:blueviolet;
    color: white;
    text-align:center;
    padding: 1rem;
    border-bottom: 2px solid black;
}
nav ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    padding: 0.5rem 1rem;
}
nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    background-color: gray;
    cursor: pointer;
}